<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyz.cyuanw">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_cheyuan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cheyuan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ATestActivity" />

        <activity android:name=".activity.user_model.UserActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.SettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.SafeConfirmActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.NameConfirmActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.QuestionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.PersionConfirmActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.PhoneBindActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.PhoneChangeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.PhoneSubmitActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.user_model.HelpActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PpxzActivity"/>
        <activity android:name=".activity.GdsxActivity"/>
        <activity android:name=".activity.CyDetailActivity" />
        <activity android:name=".activity.LmDetailActivity"/>
        <activity android:name=".activity.LmDetailDetailActivity"/>
        <activity android:name=".activity.LmDetailDetailEditActivity"/>
        <activity android:name=".activity.LmMemberActivity"/>
        <activity android:name=".activity.LmMemberJoinActivity"/>
        <activity android:name=".activity.ChooseCityActivity" android:theme="@style/DefaultCityPickerTheme" android:launchMode="singleTask"/>
        <activity android:name=".activity.ListChooseActivity"/>

        <meta-data android:name="com.amap.api.v2.apikey" android:value="e842a2da67058a7677c44b4ec4de18a4"></meta-data>
        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>